/* general styles */
:root {
  --bg-color: #272b30;
  --accent-color: #3a497b;
  --head-color: #ffffff;
}
* {
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

.bg-home {
  background-color: var(--bg-color);
}

/* game img */
.game-bg {
  max-height: 30vh;
  object-fit: cover;
}
.game-title {
  font-size: 1rem;
}
.list-img,
.free-badge {
  -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
  transition: all 0.5s;
}

.game-card:hover .list-img,
.game-card:hover .free-badge {
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}
.game-card {
  overflow: hidden;
  transition: all 0.5s;
}
.game-card:hover {
  transform: scale(1.05);
}
/* nav */
nav {
  transition: all 0.3s;
}
.bg-nav {
  background-color: var(--accent-color);
}
.games-logo {
  width: 20%;
}
nav .navbar-nav a {
  color: var(--head-color);
  transition: all 0.5s;
}
nav .navbar-nav a:hover {
  color: #09c;
}
nav .navbar-nav .active {
  color: #09c !important;
}
